<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="GEN3_6DOF_VISION_URDF_ARM_V01">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import GEN3_6DOF_VISION_URDF_ARM_V01 urdf file -->
    <xacro:include filename="$(find antworker_description)/description/arm/urdf/GEN3_6DOF_VISION_URDF_ARM_V01.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="GEN3_6DOF_VISION_URDF_ARM_V01.ros2_control.xacro" />


    <xacro:GEN3_6DOF_VISION_URDF_ARM_V01_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
