<?xml version='1.0'?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="antworker_robot" params="use_sim use_gpu simulation_engine">

    <xacro:property name="wheel_radius" value="0.0470" />

    <!-- INCLUDE ROBOT PARTS DEFINITIONS -->
    <xacro:include filename="$(find antworker_description)/urdf/body.urdf.xacro" ns="body" />
    <xacro:include filename="$(find antworker_description)/urdf/front_wheel.urdf.xacro" ns="front_wheel" />
    <!-- <xacro:include filename="$(find antworker_description)/urdf/rear_wheel.urdf.xacro" ns="rear_wheel" /> -->


    <!-- BODY DECLARATION -->
    <xacro:body.body wheel_radius="${wheel_radius}" use_gpu="${use_gpu}" />

    <!-- WHEEL DECLARATION -->
    <xacro:front_wheel.front_wheel wheel_radius="${wheel_radius}" />
    <!-- <xacro:rear_wheel.rear_wheel wheel_radius="${wheel_radius}" /> -->


  </xacro:macro>
</robot>